* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Lato", sans-serif;
}

html a {
  overflow: hidden;
  text-decoration: none;
  color: #000;
}

/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  width: 100vw;
  border-bottom: 1px solid #eee;
  border-width: 70%;
}

.navbar .logo {
  font-size: 2.5rem;
  font-family: "Ephesis", cursive;
}

.list-items {
  display: flex;
}

.list-items .list-item {
  display: flex;
}

.list-items .list-item a {
  margin: 0 1.2rem;
  padding: 1rem;
}

/* Contact Form */
.contact-container {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-container .contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100%;
}

.contact-form .contact-title {
  margin: 2rem auto;
  font-family: "Great Vibes", cursive;
  font-size: 35px;
}

.contact-form > input,
.contact-form > textarea {
  font-size: 16px;
  padding: 1rem;
  margin: 1rem 0;
  border: 1px solid rgb(207, 204, 204);
  border-radius: 5px;
  resize: none;
}

.contact-form .contact-btn {
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
  font-size: 16px;
  width: 40%;
  padding: 1.5rem;
  background: #fff;
  border: 1px solid rgb(207, 204, 204);
  border-radius: 50px;
}

.contact-form .contact-btn:hover {
  cursor: pointer;
}

textarea:focus,
input:focus {
  outline: none;
}

/* Footer */
.footer {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer p {
  font-size: 12px;
}

/* Media Query */
@media screen and (max-width: 900px) {
  html {
    overflow-x: hidden;
    overflow-y: auto;
  }

  .logo a {
    font-size: 30px;
  }

  .list-items .list-item a {
    margin: 0;
    font-size: 12px;
  }

  .contact-container .contact-form {
    width: 70%;
  }

  .footer {
    margin-bottom: 2rem;
  }
}
